﻿<template>
    <div>
        <canvas ref="canvas"></canvas>
        <ViewportInfo :viewport="viewport"></ViewportInfo>
    </div>
</template>

<script>
    import ViewportInfo from './components/ViewportInfo.vue';
    import mtt from './mythictable.js';

    export default {
        data() {
            return {
                viewport: {
                    width: null,
                    height: null
                }
            }
        },
        components: {
            ViewportInfo
        },
        mounted() {
            // Need to wait until child components exist before attaching Fabric Canvas
            this.$nextTick(() => {
                this.canvas = new fabric.Canvas(this.$refs.canvas);
                this.updateViewportDimensions();
                window.addEventListener('resize', this.updateViewportDimensions);

                mtt.init();
            })
        },
        methods: {
            onWindowResize() {
                // Throttle the resize event so resize-triggered redraw happens at 10fps
                if (this.resizeTimeout)
                    return;

                this.resizeTimeout = setTimeout(() => {
                    this.resizeTimeout = null;

                    this.updateViewportDimensions();
                }, 100);
            },
            updateViewportDimensions() {
                this.viewport.width = window.innerWidth;
                this.viewport.height = window.innerHeight;

                this.canvas.setDimensions({
                    width: this.viewport.width,
                    height: this.viewport.height
                });
            }
        }
    }
</script>

<style>
    body {
        margin: 0;
    }
</style>
